/waybar/style.css
/swaync/style.css
/eww/eww.scss
/colors.conf
/hyprlock.conf
/symlinks/alacritty/alacritty.toml
/symlinks/alacritty/alacritty.yml
/symlinks/kitty/kitty.conf
/symlinks/rofi/themes/generated.rasi
/symlinks/rofi/config.rasi
/symlinks/wezterm/colors.lua
